header, main, footer, nav, figure, figcaption, article, section{
	display:flex;
}
main{
	margin-top: 130px;
}

* {
  box-sizing: border-box;
}


body {
	font-family: Arial;
	padding: 5px;
	background: #ffff;
	color: #161000;
}
p{
	padding:10px;
	color:#311e03;
}
#casa{
	float:right;
}
div{
	display:block;
	background-color:antiquewhite;
	width:100%;
}

source{
	z-index: 0;
}

section{
	display:block;
	margin:10px;
	width:100%;
}

header{
	justify-content:center;
	background-color:#d4ac89;
	height:75px;
}

section {
	float: left;
	width: 90%;
}

aside {
	background-color: #d4ac89;
	margin: 5px;
	padding: 20px;
}
#asidelista{
	display:block;
	list-style:none;
}

footer {
	background-color: #388F41;
	width: 100%;
	float: left;
}
#letrasFooter{
	size:2;
	color:#336699;
	font-family:"Comic sans MS";
}

.divaside{
	width: 0%;
}

.nav {
	display: flex;
	flex-direction: column;
}

.verticalizador {
	display: flex;
	flex-direction: column;
	width:100%;
}

.articulos{
	width:100%;
}
.permanente{
	position:fixed;
	top: 0;
	right: 0;
}

ul.nav {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	display: inline-block;
	width: 100%;
}
.verticalizador a {
	color: #000;
	padding: 10px 16px;
	text-decoration: none;
	flex-direction: column;
}

ul.nav li a {
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	flex-direction: row;
	float: left;
	padding: 15px;
}

ul.nav li a.active {
	background-color: #4CAF50;
	color: white;
}

ul.nav li a:hover:not(.active) {
	background-color: #555;
	color: white;
}
ul.asidelista li a {
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	flex-direction: row;
	float: left;
	padding: 15px;
}

ul.asidelista li a.active {
	background-color: #4CAF50;
	color: white;
}

table{
	margin:20px;
	padding:5px;

}

@media only screen and (max-width: 699px) {

	ul {
		flex-direction:row;
	}
	ul.nav {
		display:inline-flex;
	}
	
	ul.nav li{
		display:block;
		text-align:center;
	}
	ul.nav li a {
		float:none;
		padding:7px;
	}
	
	.nav li a{
		display:block;
		flex-direction:column;
	}
	aside{
		float:left;
	}
	main{
		margin-top: 250px;
	}
}


@media only screen and (min-width: 700px) {
	aside{
		float:right;
	}
	.verticalizador {
		flex-direction: row;
	}
}
